body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header{
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-menu {
    display: none;
    align-items: center;
    gap: 40px;

}

.header-menu-item{
    display: block;
}

.header-logo {
    display: flex;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 17.5px 0px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-studio {
    color: #2E2F42;
}

.header-navigation {
    display: flex;
}

.header-menu-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-menu {
    display: block;
    display: none;
    align-items: center;
    gap: 40px;
}

.address-link-contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-contacts:hover,
.address-link-contacts:focus {
    color: #404bbf;
}

.menu-open-btn {
    border-style: none;
    background: transparent;
    margin: 0px 0px;
    padding: 0px 0px;
    margin-left: auto;
}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid #E7E9FC;
    background-color: transparent;
    padding: 0px 0px;
    width: 24px;
    height: 24px;
    font-size: 0%;
}

.mob-menu-list {
    margin-bottom: 72px;
}

.mob-menu-link {
    color: #404BBF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-menu-link-na {
    color: #2E2F42;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-address {
    margin-top: auto;
    margin-bottom: 48px;
}

.mob-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-address-link-contacts {
    color: #4D5AE5;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
}

.mob-address-link-contacts-na {
    color: #2E2F42;
}

.mob-address-link-contacts:hover,
.address-link-contacts:focus {
    color: #404bbf;
}

.mob-soc {
    display: flex;
    gap: 40px;
    justify-content: center
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4D5AE5;
    border-radius: 50%;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.main-top {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/people-office-mob1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-top {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-mob2x.jpg);
    }
}

.main-top-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 160px;
    margin: 0 auto;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.main-top-btn {
display: block;
    min-width: 169px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    height: 56px;
    width: 169px;
    background: #4d5ae5;
    border: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-top-btn:hover,
.main-top-btn:focus{
    background-color: #404BBF;
}

.solutions {
    background: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.solutions-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
}

.solutions-item-wrap {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.solutions-item {
    max-width: 288px;
}

.solutions-subtitle {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    text-align: center;
}

.solutions-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
    max-height: 2232px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.list {
    list-style: none;
}

.employee-container {
    padding: 32px 0;
}

.team-item{
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    width: calc((100% - 24px * 3) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    height: 428px;
    width: 264px;
}

.team-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}



.team-subtitle {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-soc-list {
    fill: none;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover{
    background-color: #404bbf;
}

.team-soc-link:focus{
    background-color: #404bbf;
}

.team-soc-icon {
    fill: #F4F4FD;
}

.portfolio {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.portfolio-item {
    max-width: 288px;
    min-height: 400px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0%);
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}    

.portfolio-cover-text{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.footer {
    background: #2E2F42;
    padding: 96px 0;
}

.footer-container {
    display: block;
    align-items: baseline;
}

.footer-logo-text {
    text-align: center;
    width: 288px;
    margin-bottom: 72px;
}

.footer-logo {
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-span-logo {
    color: #F4F4FD;
}

.studio-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 17.5;
    text-align: left;
}

.footer-soc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.footer-soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover{
    background-color: #31d0aa;
}

.footer-soc-link:focus{
    background-color: #31d0aa;
}

.footer-soc-icon{
    fill: #f4f4fd;
}

.div-footer-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.label-footer {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-label {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-label::placeholder {
    color: #ffffff;
}

.subscrb-btn {
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.subscribe-svg {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    fill: #ffffff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.modal-btn:hover, .modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon {
    fill: #ffffff;
}
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    text-align: center;
    max-width: 360px;
    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 18px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
}

.input-wrap {
    position: relative;
}

.comment {
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    fill: #404040;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.user-privacy {
    margin-bottom: 24px;
}

.check-text {
    display: flex;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
}

.check-text a {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.check-text-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
}

.modal-chek:checked+.check-text .check-text-box {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

@media screen and (min-width: 768px) {
    .container {
        height: 100%;
        padding: 0px 0px;
        max-width: 768px;
    }
    
    .header-container {
        isplay: flex;
        align-items: center;
        justify-content: right;
    }

    .header-logo {
        margin: 25.5px 0px 25.5px 16px;
    }
    
    .header-menu {
        display: flex;
        align-items: center;
        gap: 40px;
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: 120px;
    }

    .header-menu-item {
        position: relative;
    }

    .header-menu-link.current {
        color: #404bbf;
    }

    .header-menu-link {
        display: block;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .address-menu {
        display: flex;
        margin-right: 16px;
        flex-direction: column;
        row-gap: 5px;
    }

    .address-link-contacts {
        font-size: 12px;
    }

    .address-link-contacts:hover,
    .address-link-contacts:focus {
        color: #404bbf;
    }

    .menu-open-btn {
        display: none;
    }

    .main-top-container {
        padding: 112px 0px 112px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .main-top {
        max-width: 768px;
        padding: 0px 0px;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-tab1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-top {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-tab2x.jpg);
    }
}

    .main-top-title {
        min-width: 496px;
        min-height: 120px;
        font-size: 56px;
        margin-bottom: 36px;
    }

    .solutions-list {
        flex-direction: row;
        flex-wrap: wrap;
        }

    .solutions-item {
        width: 356px;
    }

    .solutions-subtitle {
        text-align: left;
    }

    .team-list {
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
        height: 1124px;
        margin-left: 16px;
    }

    .portfolio-list {
        flex-direction: row;
        row-gap: 48px;
        column-gap: 24px;
    }

    .portfolio-item {
        max-width: 356px;
        min-height: 420px;
    }

    .footer-container {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
        max-width: 584px;
    }

    .footer-logo-text {
        text-align: left;
        margin-bottom: 0px;
    }

    .footer-soc {
        text-align: left;
        align-items: start;
    }

    .footer-soc-text {
        text-align: left;
    }

    .div-footer-forms {
        align-items: baseline;
    }

    .form {
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 24px;
    }

    .label-footer {
        margin-bottom: 0px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
    }

    .header-container {
        display: flex;
        align-items: center;
    }
    
    .header-menu {
        margin-left: 76px;
    }

    .address-menu {
        align-items: center;
        flex-direction: row;
    }

    .address-link-contacts {
        font-size: 16px;
    }

    .address-link-contacts:hover {

    }

    .main-top-container {
        padding: 0px 0px 0px 0px;
    }

    .main-top {
        max-width: 1440px;
        padding: 188px 0px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-dt1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-top {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-dt2x.jpg);
    }
}
    
    .main-top-title {
        min-width: 496px;
        min-height: 120px;
        margin-left: auto;
        margin-bottom: 48px;
}

    .solutions {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .solutions-list {
        flex-direction: row;
        gap: 24px;
    }

    .solutions-item {
        width: 264px;
                }

    .solutions-item-wrap {
        display: flex;
    }

    .solutions-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .solutions-item-text {
        font-weight: 400;
    }

    .team {
        padding: 120px 0;
    }

    .team-container {
        padding: 0px 0px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 428px;
        gap: 24px;
        justify-content: center;
        }

    .portfolio-container {
        padding: 0px 0px;
    }

    .portfolio-item {
        max-width: 360px;
        min-height: 420px;
    }

    .footer-container {
        flex-wrap: nowrap;
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-logo-text {
        margin-right: 120px;
    }

    .footer-soc-text {
        text-align: left;
    }

    .form {
        flex-direction: row;
        gap: 24px;
        align-items: baseline;
    }

    .footer-soc {
        margin-right: 80px;
        align-items: baseline;
    }
}